<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>AI_attendance</title>
</head>
<body>
    <!-- <img src="img/background.png" class="background"> -->
      <!-- Header -->
      <section id="header">
                <div class="brand">
                    <a href="#"><h1><span>A!</span> Attendence</h1></a>
                </div>  
                        
        </section>
        <!-- End of Header -->
    <!-- login Section -->
    <section id="login">
        <div class="login-container">
            <img src="img/admin.jpg" class="login-container__img">
            <a href="login.html" class="heading">Login For Admin</a>
        </div>
        <div class="login-container">
            <img src="img/user-removebg-preview.png" class="login-container__img">
            <a href="#" class="heading">Login For Attendees</a>
        </div>
    </section>
    <!-- End of login Section -->
        
</body>
</html>